version: "3"
services:
  zookeeper-nifi:  # the configuration manager
    hostname: zookeeper-nifi
    container_name: zookeeper-nifi
    image: 'bitnami/zookeeper:latest'
    environment:
      - ALLOW_ANONYMOUS_LOGIN=yes
    networks:
      - pipeline-data-net

  nifi:
    image: apache/nifi:latest
    hostname: nifi
    container_name: nifi
    ports:
      - 8080:8080 # Unsecured HTTP Web Port
    environment:
      - NIFI_WEB_HTTP_PORT=8080
      - NIFI_CLUSTER_IS_NODE=true
      - NIFI_CLUSTER_NODE_PROTOCOL_PORT=8082
      - NIFI_ZK_CONNECT_STRING=zookeeper-nifi:2181
      - NIFI_ELECTION_MAX_WAIT=1 min
      - NIFI_SENSITIVE_PROPS_KEY=123456789012
    networks:
      - pipeline-data-net
    volumes:
      - /nifi:/data

networks:
  pipeline-data-net:
    driver: bridge
